<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:margin-bottom="http://www.w3.org/1999/xhtml">
<head>
    <title>마스외전</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <style>
        html, body {height:100%;}
        #logout{
            position: fixed;
            right: 30px;
            top: 30px;
        }


        #home{
            margin-top: 30px;
            margin-bottom: 20px;
        }
        table{
            border-collapse: collapse;
            border: #b9babd;
        }
    </style>
    <script>
        $(document).ready(function(){
            $("div1").load("home.html");
            $("div2").load("List.html");
        });
    </script>

</head>
<body>
    <table border="2" width="100%" height="100%" >
        <th colspan="2" height="100">
            <img th:src="@{image/logo.png}" width="200" height="200">
            <div id="logout">
                <a href="/" style="font-size:20px" >LOGOUT</a>
            </div>
        </th>
        <tr>
            <td id ="a" width="200" valign="top" align="center">
                <div id ="home">
                    <a href="/main/home" target="a" style="font-size:30px">홈</a></br>
                </div>
                <a href="/main/list" target="a" style="font-size:30px">프로젝트</a>
            </td>
            <td>
                <iframe name="a" width="100%" height="100%"></iframe>
            </td>
        </tr>
    </table>
</body>
</html>